parameters:
    nasastan:
        functionSizeLimit: 60
        initMethods:
            - __construct
            - initialize
            - init
            - setup
            - boot
            - register

parametersSchema:
    nasastan: structure([
        functionSizeLimit: schema(int(), nullable())
        initMethods: listOf(string())
    ])

services:
    -
        class: Nasastan\NasastanConfiguration
        arguments:
            functionSizeLimit: %nasastan.functionSizeLimit%
            initMethods: %nasastan.initMethods%

    -
        class: Nasastan\NasastanExtension
        tags:
            - phpstan.rules.rule

    # If you still want to register individual rules that can be selectively enabled/disabled
    -
        class: Nasastan\Rules\NoComplexFlowConstructsRule
        tags:
            - phpstan.rules.rule
