parameters:
    level: max
    paths:
        - src
        - tests/Rules
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            message: '#Method Nasastan\\Rules\\[a-zA-Z]+::processNode\(\) should return list<PHPStan\\Rules\\IdentifierRuleError> but returns array{PHPStan\\Rules\\RuleError}.#'
            paths:
                - src/Rules/*.php
        -
            message: '#Method Nasastan\\Rules\\[a-zA-Z]+::processNode\(\) should return list<PHPStan\\Rules\\IdentifierRuleError> but returns array<int, PHPStan\\Rules\\RuleError>.#'
            paths:
                - src/Rules/*.php
        -
            message: '#Method Nasastan\\Rules\\[a-zA-Z]+::processNode\(\) should return list<PHPStan\\Rules\\IdentifierRuleError> but returns array<PHPStan\\Rules\\RuleError>.#'
            paths:
                - src/Rules/*.php
